@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

h1 {
	font-family: 'Spicy Rice', cursive;
	font-size: 50px;
	margin-bottom: 10px;

}

.topicButton{
	margin: 5px;
}

body{
  background: url('../images/gplaypattern.png')

}

#topicInput{
	margin-bottom: 5px;
}

#addTopic{
	margin-bottom: 20px;
}

p{
	font-size: 20px;
}

